.btn {
  --color: #69b915;
  padding: 0.8em 1.7em;
  background-color: transparent;
  border-radius: 0.3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s;
  font-weight: 400;
  font-size: 17px;
  border: 1px solid;
  font-family: inherit;
  text-transform: uppercase;
  color: var(--color);
  z-index: 1;
}

.btn::before,
.btn::after {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--color);
  transition: 1s ease;
}

.btn::before {
  top: -1em;
  left: -1em;
}

.btn::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}

.btn:hover::before,
.btn:hover::after {
  height: 410px;
  width: 410px;
}

.btn:hover {
  color: rgb(255, 255, 255);
}

.btn:active {
  filter: brightness(0.8);
}

.container-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.container-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.nuestro-menu,
.nuestro-servicio,
.galeria-evento {
  padding-top: 60px;
}

.galeria-evento > .container-btn > .btn {
  margin-top: 40px;
}
